In [76]:
import numpy as np
import pandas as pd

In [77]:
data = pd.read_table('./crime/crime_location(2014-2020).txt')

In [78]:
data = data.replace('-', 0)

In [79]:
data = data[-12:]

In [81]:
data

,기간,구분,계,아파트 연립다세대,단독주택,노상,상점,숙박업소목욕탕,유흥접객업소,사무실,역대합실,교통수단,유원지,학교,금융기관,기타
30,2019,계,"103,668","8,999","8,757","32,295","10,092","2,397","9,725","2,203","1,524","3,358","1,248",685,"1,199","21,186"
31,2019,살인,136,25,36,26,1,7,9,4,0,0,2,0,0,26
32,2019,강도,136,7,12,36,22,7,19,4,1,3,2,0,1,22
33,2019,강간강제추행,"6,469",533,552,946,178,528,968,128,255,966,54,49,3,"1,309"
34,2019,절도,"42,204","2,455","2,163","10,198","8,464","1,297","3,481",626,593,"1,156",649,363,"1,104","9,655"
35,2019,폭력,"54,723","5,979","5,994","21,089","1,427",558,"5,248","1,441",675,"1,233",541,273,91,"10,174"
36,2020,계,"92,679","9,597","8,200","29,395","9,626","1,756","7,199","2,030","1,230","2,791",941,319,949,"18,646"
37,2020,살인,141,32,35,23,1,4,7,7,0,2,0,0,0,30
38,2020,강도,138,11,12,28,25,8,16,5,1,2,1,1,1,27
39,2020,강간강제추행,"5,763",556,588,853,202,441,782,155,174,632,66,29,3,"1,282"
40,2020,절도,"38,293","2,867","2,045","10,235","8,013",813,"2,490",583,496,"1,054",492,160,873,"8,172"
41,2020,폭력,"48,344","6,131","5,520","18,256","1,385",490,"3,904","1,280",559,"1,101",382,129,72,"9,135"

In [82]:
data['계'] = data['계'].str.replace(',', '').astype('int64')
data['아파트 연립다세대'] = data['아파트 연립다세대'].str.replace(',', '').astype('int64')
data['단독주택'] = data['단독주택'].str.replace(',', '').astype('int64')
data['노상'] = data['노상'].str.replace(',', '').astype('int64')
data['상점'] = data['상점'].str.replace(',', '').fillna(0).astype('int64')
data['숙박업소목욕탕'] = data['숙박업소목욕탕'].str.replace(',', '').astype('int64')
data['유흥접객업소'] = data['유흥접객업소'].str.replace(',', '').astype('int64')
data['사무실'] = data['사무실'].str.replace(',', '').astype('int64')
data['역대합실'] = data['역대합실'].str.replace(',', '').fillna(0).astype('int64')
data['교통수단'] = data['교통수단'].str.replace(',', '').fillna(0).astype('int64')
data['유원지'] = data['유원지'].str.replace(',', '').fillna(0).astype('int64')
data['학교'] = data['학교'].str.replace(',', '').fillna(0).astype('int64')
data['금융기관'] = data['금융기관'].str.replace(',', '').fillna(0).astype('int64')
data['기타'] = data['기타'].str.replace(',', '').fillna(0).astype('int64')

In [83]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 30 to 41
Data columns (total 16 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   기간         12 non-null     int64
 1   구분         12 non-null     object
 2   계          12 non-null     int64
 3   아파트 연립다세대  12 non-null     int64
 4   단독주택       12 non-null     int64
 5   노상         12 non-null     int64
 6   상점         12 non-null     int64
 7   숙박업소목욕탕    12 non-null     int64
 8   유흥접객업소     12 non-null     int64
 9   사무실        12 non-null     int64
 10  역대합실       12 non-null     int64
 11  교통수단       12 non-null     int64
 12  유원지        12 non-null     int64
 13  학교         12 non-null     int64
 14  금융기관       12 non-null     int64
 15  기타         12 non-null     int64
dtypes: int64(15), object(1)
memory usage: 1.6+ KB

In [84]:
data

,기간,구분,계,아파트 연립다세대,단독주택,노상,상점,숙박업소목욕탕,유흥접객업소,사무실,역대합실,교통수단,유원지,학교,금융기관,기타
30,2019,계,103668,8999,8757,32295,10092,2397,9725,2203,1524,3358,1248,685,1199,21186
31,2019,살인,136,25,36,26,1,7,9,4,0,0,2,0,0,26
32,2019,강도,136,7,12,36,22,7,19,4,1,3,2,0,1,22
33,2019,강간강제추행,6469,533,552,946,178,528,968,128,255,966,54,49,3,1309
34,2019,절도,42204,2455,2163,10198,8464,1297,3481,626,593,1156,649,363,1104,9655
35,2019,폭력,54723,5979,5994,21089,1427,558,5248,1441,675,1233,541,273,91,10174
36,2020,계,92679,9597,8200,29395,9626,1756,7199,2030,1230,2791,941,319,949,18646
37,2020,살인,141,32,35,23,1,4,7,7,0,2,0,0,0,30
38,2020,강도,138,11,12,28,25,8,16,5,1,2,1,1,1,27
39,2020,강간강제추행,5763,556,588,853,202,441,782,155,174,632,66,29,3,1282
40,2020,절도,38293,2867,2045,10235,8013,813,2490,583,496,1054,492,160,873,8172
41,2020,폭력,48344,6131,5520,18256,1385,490,3904,1280,559,1101,382,129,72,9135

In [85]:
data.to_excel('./crime/crime_location(2019-2020).xlsx', index = False)